 .u-section-1 {
  background-image: linear-gradient(#e5e5e5, #ffb8bd);
}

.u-section-1 .u-sheet-1 {
  min-height: 863px;
}

.u-section-1 .u-products-1 {
  height: auto;
  margin: 108px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 20% 20% 20% 20% 20%;
  min-height: 468px;
  grid-gap: 0px 0px;
  grid-auto-columns: 20%;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 11px;
}

.u-section-1 .u-image-1 {
  height: 237px;
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 52px 31px 0 34px;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-product-category-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 11px;
}

.u-section-1 .u-image-2 {
  height: 237px;
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 52px 31px 0 34px;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-product-category-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px 11px;
}

.u-section-1 .u-image-3 {
  height: 237px;
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 52px 31px 0 34px;
}

.u-section-1 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-product-category-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 13px 11px;
}

.u-section-1 .u-image-4 {
  height: 237px;
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 52px 31px 0 34px;
}

.u-section-1 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-product-category-4 {
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 13px 11px;
}

.u-section-1 .u-image-5 {
  height: 237px;
  width: 164px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 52px 31px 0 34px;
}

.u-section-1 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-product-category-5 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(5, 20%);
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 1050px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}